# .coveragerc to control coverage.py
[run]
branch = True
source =
    translator


[report]
ignore_errors = True

[html]
directory = ./docs/coverage_html_report
title = Code Coverage Report of Translation​ ​Caching​ System